@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------

Móveis (320px - 480px): Telas pequenas como smartphones.
Tablets (481px - 768px): iPads, tablets em orientação retrato e paisagem.
Laptops (769px - 1024px): Telas pequenas de laptop.
Desktops (1025px - 1200px): Telas maiores de desktop.
Telas Grandes (1201px e acima): Telas muito grandes como TVs. 
*/

/*Todas as demais mídias*/
@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}